 @model WebApplication1.Models.FormLists

<style>
    body {
      /*background-image: url(/content/images/bg-login_opt.jpg);*/
      font-family: 'Signika', sans-serif;
    }
    h1 {
      font-size: 2em;
      font-weight: 600;
      color: #3d9970;
      text-align: center;
      margin: 2em 0em 0em 0em;
    }
    
</style>
<br />
<div class="form-page-container confirmation-page-container prepend-top span-26" style="margin:0 auto;width:371px; text-align:center">
    <div class="inner-container">
        <div class="panel panel-default">
            <div class="panel-body" style="margin-bottom:0px;background-color:#e7e7e7">
                <h2>Email sent.</h2>
            </div>
        </div>
    </div>
</div>



